<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
	<title>Update</title>
</head>

<body class="container">
	<h1 style="text-align: center;">Form Update</h1>
	<hr>
	<form action="#" th:action="@{/employee/save}" th:object="${employee}" method="POST" class="form-group">

		<input type="text" th:field="*{username}" class="form-control mb-4 ml-auto mr-auto col-4" placeholder="Username" />

		<input type="text" th:field="*{password}" class="form-control mb-4 ml-auto mr-auto col-4" placeholder="Password" />

		<input type="text" th:field="*{fullname}" class="form-control mb-4 ml-auto mr-auto col-4" placeholder="Full name" />

		<input type="text" th:field="*{role}" class="form-control mb-4 ml-auto mr-auto col-4" placeholder="Role" />

		<div style="text-align: center;">
			<input type="submit" value="Update" class="btn btn-info col-2" />
		</div>

	</form>
</body>

</html>